@model MyMovieDb.Models.IndexViewModel
@{
	ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>Email Address</dt>
		<dd>
			@User.Identity.Name
			@Html.ActionLink("Change your email address", "ChangeEmailAddress")
		</dd>	
        <dt>Password</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
		<dt>Movies Rated</dt>
		<dd>
			@if(Model.MovieReviewCount == 1)
			{
				<text>You've added @Model.MovieReviewCount review so far. </text>
			}
			else
			{
				<text>You've added @Model.MovieReviewCount reviews so far.</text>

			}
		</dd>
    </dl>
</div>
