@model MyMovieDb.Models.MovieReview

@{
    ViewBag.Title = "Delete";
}

<h2>Delete <i>@Model.MovieTitle</i>?</h2>

<h3>Are you sure? It'll be gone forever.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color ">
			<input type="submit" value="Delete" class="btn btn-default" />
			@Html.ActionLink("Cancel", "Index")

        </div>
    }
</div>
